<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
</head>
<body>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col float-right">
                <a href="{% url 'new' %}" class="btn btn-warning">Add</a>
            </div>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data</th>
            <th scope="col">Valor</th>
            <th scope="col">Categoria</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
        {% for transacao in transacoes %}
          <tr>
            <th scope="row">{{transacao.id}}</th>
            <td>{{transacao.descricao}}</td>
            <td>{{transacao.data}}</td>
            <td>{{transacao.valor}}</td>
            <td>{{transacao.categoria}}</td>
            <td>
              <a href="{% url 'update' transacao.id %}" class="btn btn-success">Update</a> 
              <a href="{% url 'delete' transacao.id %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>